[submodule "external/jsoncpp"]
	path = external/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "external/lodepng/src"]
	path = external/lodepng/src
	url = https://github.com/lvandeve/lodepng.git
[submodule "external/angelscript/src"]
	path = external/angelscript/src
	url = https://github.com/anjo76/angelscript.git
